.vscode
vendor
node_modules
install.lock
.env
.env.local
.env.*.local
database/*.sqlite
database/*.sqlite3
backend/runtime
backend/public/test*.php
backend/public/test_*.php
*.lock
*.sqlite
*.sqlite3
pnpm-lock.yaml
yarn.lock
package-lock.json